/* Index for styles.css: */

/*
1. Body
2. Navigation Bar
3. Homepage Background
4. Courses Section
5. Team Section
6. About Section
7. Founder's Message Section
8. Companies Section
9. Resources Section
10. Footer Section
11. Website Fade-In Section */

html {
    scroll-behavior: smooth;
}

/* 1. Body
==============================*/

body {
    margin: 0;
    /* Removes default margins */
    padding: 0;
    /* Removes default padding */
    font-family: Arial, sans-serif;
    /* Sets the font family */
}

body,
html {
    width: 100%;
    /* Sets the width to 100% of the viewport */
    height: 100%;
    /* Sets the height to 100% of the viewport */
    overflow-x: hidden;
    /* Prevents horizontal scrolling */
}

/* Paragraph Styling */
p {
    font-family: "Didact Gothic", sans-serif;
}

h1{
    font-weight: 100;
    font-family: "Didact Gothic", sans-serif;
}

.header{
    font-size: 40px;
    color: black;
    margin-bottom: 50px;
    /* Space below the header */
    border-bottom: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/* 2. Navigation Bar
==============================*/

#nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 50px;
    background-color: #f7f7f7;
    color: #333;
    padding: 15px;
    z-index: 2;
    border-bottom: 2px solid #d2b356;
}

#nav-logo {
    object-fit: contain;
    max-height: 30px;
    max-width: 30px;
}

#nav-links {
    justify-content: center;
    width: 100%;
}


#nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}


#nav-list li {
    display: inline-block;
    margin-right: 20px;
}

#nav-list a {
    text-decoration: none;
    color: #333;
}

#social-media-icons {
    display: flex;
    gap: 10px;
    margin-right: 40px;
}

.social{
    max-width: 20px;
    height: auto;
}

/*Overlay*/

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #eae7e7;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }


#navButton{
    width: 30px;
}



@media (max-width: 838px) {
    #nav-list li{
        display: none;
    }
}
@media (min-width: 838px) {
    #navButton{
        display:none;
    }
}





/* 3. Homepage Background 
==============================*/

.parallax {
    /* The image used */
    background-image: url("./assets/images/background/chris-herath-FcvIlm3I2Ts-unsplash.jpg");

    

    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Full height */
    height: 100%;
}

#nAvidexus{
    position: relative;
    
    top: 220px;
    left: 5%;
    width: 400px;
    height: auto;

}

@media (max-width:900px){
    #nAvidexus{
        left: 4%;
    }
}
@media (max-width:850px){
    #nAvidexus{
        left: 3%;
    }
}
@media (max-width:800px){
    #nAvidexus{
        left: 2%;
    }
}

@media (max-width:750px){
    #nAvidexus{
        display: none;
    }
}


        

/* 4. Course Section
============================== */

#courses {
    background-color: #f7f7f7;
    /* Light gray background */
    padding: 50px 0;
    /* Vertical padding */
    text-align: center;
    /* Center the text */
    border-bottom: 2px solid #d2b356;
    /* Adds a top border to the section */
}


#course-header {
    margin-left: 20%;
    margin-right: 20%;
}

.course-description {
    font-size: 1.5em;
    /* Medium font size */
    color: #333;
    /* Dark gray text */
    margin: 17%;
    margin-bottom: 50px;
    margin-top: 0px;
    /* Space below the description */
}



.course-container {
    display: flex;
    /*Turns courses into flexbox format*/
    flex-wrap: wrap;
    /*Allows courses to move underneath if they are going off page*/
    justify-content: space-evenly;
    /*Spreads cources to fill horizontal space*/
    
}

.course-item {
    background-color: #fff;
    /* White background */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Shadow effect */
    transition: 0.3s;
    /* Smooth transition */
    width: 400px;
    /* Width of the course item */
    margin: 20px;
    /* Space around the course item */
    border-radius: 10px;
    /* Rounded corners */
    text-decoration: none;
    /* Removes underline */
    color: #333;
    /* Changes color to dark grey */
}

.course-name {
    font-size: 1.5em;
    /* Medium font size */
    color: #333;
    /* Dark gray text */
    margin: 20px;
    /* Space around the course name */
    margin-top: 5px;
}

.course-info{
    margin-top: 10px;
}

/* Course Icons */

/* Use course info to adjust containers if needed */

#course-icon1 {
    width: 45px;
    height: auto;
}

#course-icon2 {
    width: 35px;
    height: auto;
}

#course-icon3 {
    width: 45px;
    height: auto;
}

#course-icon4 {
    width: 45px;
    height: auto;
}


@media (max-width: 600px) {
    .course-container {
       grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .course-description {
        font-size: 1\.5em;
        margin: 10%;
        margin-bottom: 50px;
    }
}


/* 5. Team Section
============================== */

#team {
    background-color: #f7f7f7;
    /* Light gray background */
    padding: 50px 0;
    /* Vertical padding */
    text-align: center;
    /* Center the text */
}

#team-header {
    margin-left: 20%;
    margin-right: 20%;
}

#team-profiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.profile-card {
    display: inline-block;
    /* Allows the card to sit side by side with other cards */
    background-color: #fff;
    /* White background */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Shadow effect */
    transition: 0.3s;
    /* Smooth transition */
    width: 30%;
    /* Width of the card */
    margin: 10px;
    /* Space around the card */
    border: 2px solid transparent;
    /* Transparent border */
    padding: 20px;
}

.profile-card:hover {
    border: 2px solid #d2b356;
    /* Golden border on hover */
}

.profile-pic {
    border-radius: 50%;
    /* Circle shape */
    width: 250px;
    /* Full width */
    height: 250px;
    /* Auto height */
    position: relative;
    top: 20px;
}

.profile-name {
    font-size: 1.8em;
    /* Medium font size */
    color: #333;
    /* Dark gray text */
    margin: 50px 0 20px 0;
    /* Space above the name, no space below */
}

.profile-role {
    font-size: 1.5em;
    /* Medium font size */
    color: #333;
    /* Dark gray text */
    margin: 10px 0;
    /* Space above and below the role */
    font-style: italic;
}

.profile-bio {
    font-size: 18px;
    /* Small font size */
    color: #666;
    /* Gray text */
    line-height: 1.5;
    /* Spacing between lines */
    margin-top: 50px;
}

@media(max-width: 800px){
    #team-profiles{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .profile-card{
        width: 60%;
    }

    .profile-pic{
        width: 80%;
        height: 80%;
    }

    .profile-name{
        font-size: 5vw;
    }

    .profile-role{
        font-size: 5vw;
    }

     
}


/* 6. About Section
============================== */

#about-us{
    background-color: white;
    /* Sets the background color */
    border-top: 2px solid #d2b356;
    /* Adds a top border to the section */
    padding: 50px 0;
}

#about-us-header{
    
    margin-left: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-background{
    background-color: white;
    flex: 1;
    /* Reduce the flex value to leave room for the text */
    padding-right: 20px;
}

.about-us-text{
    font-size: 18px;
    /* Sets the font size */
    line-height: 1.5;
    /* Sets the line height */
    color: #666;
    /* Sets the text color */
    max-width: 800px;
    /* Sets the maximum width */
    padding-top: 5px;
    /* Adds some space above the text */
    margin-bottom: 10px;
    /* Adds some space below the text */
    padding-left: 100px;
    /* Adds a 50px padding from the left side of the screen */
}

.about-picture img {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 1;
    max-width: 50%;
    height: auto;
}


@media (max-width: 1100px) {
    
    .content {
        display: inline;

    }
    .about-background {
       padding-right: 0;
    }

    #about-us-header{
        padding: 0;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
    }

    .about-us-text{
       padding-left: 0px;
       text-align: center;
       width: 90%;
       margin:auto;
    }
    
    .content img{
        display: none;
    }

   }
   
/* 7. Founder's Message Section
============================== */   

#founder-message {
    background-color: white;
    /* Sets the background color */
    border-top: 2px solid #d2b356;
    /* Adds a top border to the section */
    padding: 70px 0;
}

#founder{
    text-align: center;
    
}



#founder-header{
    margin: 10px 20%;
    margin-bottom: 30px;
}

.founder-text {
    display: block;
    background-color: #fff;
    /* White background */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Shadow effect */

    width: 80%;
    margin:auto;
    
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 2%;

    border: 2px solid transparent;
    /* Transparent border */
    font-size: 18px;
    /* Small font size */
    color: #666;
    /* Gray text */
    line-height: 1.5;
    /* Spacing between lines */

    border: 2px solid #d2b356;
    text-align: center;
}


@media (min-width: 1100px) {
    .founder-text{
        width: 60%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 708px){
    #founder-message{
        padding-top: 80px;
    }
}



/* 8. Companies Section
============================== */

#sponsor{
    background-color: white;
    padding: 50px;
    text-align: center;
    border-top: 2px solid #d2b356;
}



.sponsor-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

.sponsor-item {
    position: relative;
    /* Position the overlay relative to the image */
    text-decoration: none;
    border-radius: 20px;

}

.sponsor-overlay {
    position: relative;
    display: flex;
    justify-content: center;
}


.sponsor-text {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

#sponsor-1{
    flex: 30%;
    max-height: 150px;
}

#sponsor-2{
    flex: 35%;
    max-height: 150px;
}

#sponsor-3{
    flex: 35%;
    max-height: 150px;
    max-width: 90%;
}



   
/* 9. Resources Section
============================== */

#resources {
    background-color: #f7f7f7;
    /* Light gray background */
    padding: 50px 0;
    /* Vertical padding */
    text-align: center;
    /* Center the text */
    border-top: 2px solid #d2b356;
    /* Adds a top border to the section */
}


.resource-container {
    display: grid;
    /* Use CSS Grid */
    grid-template-columns: repeat(3, 1fr);
    /* Create 3 equal-width columns */
    gap: 20px;
    /* Space between the grid items */
    justify-items: center;
    /* Center the grid items horizontally */
}

.resource-item {
    position: relative;
    /* Position the overlay relative to the image */
}

.resource-image {
    width: 100%;
    /* Full width */
    height: auto;
    /* Auto height to maintain aspect ratio */
    object-fit: cover;
    /* Cover the entire area of the image */
}

.resource-overlay {
    position: absolute;
    /* Position the overlay absolutely within the image */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    display: flex;
    /* Use Flexbox */
    justify-content: center;
    /* Center the text horizontally */
    align-items: center;
    /* Center the text vertically */
    opacity: 0;
    /* Initially hidden */
}

.resource-item:hover .resource-image {
    opacity: 0.5;
    /* Reduce opacity when hovered */
}

.resource-item:hover .resource-overlay {
    opacity: 1;
    /* Show the overlay when hovered */
}

.resource-text {
    color: #fff;
    /* White text */
    font-size: 1.5em;
    /* Medium font size */
}

/* 10. Footer Section
============================== */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.linkedin {
    color: white;
}

/* 11. Website Fade-In Section
============================== */


body {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}